body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.action-icons {
    white-space: nowrap;
}

.action-icons a,
.action-icons form {
    display: inline-block;
    margin-right: 5px;
}

.action-icons .btn-link {
    padding: 0;
}
.action-icons .btn-sm {
    line-height: 1;
}

.action-icons i {
    font-size: 1.2em;
}
.pagination {
    margin-top: 2rem;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    color: #007bff;
    transition: all 0.3s ease;
}

.page-link:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}