{% extends 'base.html.twig' %}

{% block body %}
    <h1>Import klientów z CSV</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="csv_file" accept=".csv" required>
        <button type="submit">Importuj</button>
    </form>
{% endblock %}