{% extends 'base.html.twig' %}

{% block title %}Import CSV{% endblock %}

{% block body %}
    <h1>Import pliku CSV</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="csv_file" class="form-label">Wybierz plik CSV:</label>
            <input type="file" id="csv_file" name="csv_file" accept=".csv" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Importuj</button>
    </form>
{% endblock %}